.search-filters {
  position: relative;
  transform: translate3d(0, 0, 0);
  transition: ease transform 0.4s;
  will-change: transform;

	&__btn-wrap {
		max-height: 32px;
		margin-bottom: 24px;
		text-align: right;
	}

	&__when-col {
		padding-right: 12px;
	}

  &__address-link {
    font-size: 12px;
    margin-bottom: $spacing-factor * 4;
    width: 100%;
  }

  &__address-box {
    border: 1px solid $brand-primary;
    border-radius: 4px;

    padding: $spacing-factor * 2;
    position: relative;

    transition: ease all 0.3s;
    transform: translate3d(0, 0, 0) scaleY(1);
    transform-origin: top;

    will-change: visibility, opacity, position, transform;

    &--hide {
      animation: none;

      position: absolute;
      top: calc(100% + 24px);

      opacity: 0;
      visibility: hidden;

      transform: translate3d(0, 0, 0) scaleY(0);
      transform-origin: top;
      transition: ease all 0.3s;
    }
  }
}
