.sidebar {

	$config: (
		accent-dark: lighten($brand-secondary, 30%),
    accent-light: $brand-tertiary,
    background: $brand-secondary,
		desktop-width: 320px,
		padding: $spacing-factor * 4,
		tertiary: $brand-tertiary,
    transition: ease-in all 0.2s,
		z-index: map-get($z-index, sidebar),
  );

	background: linear-gradient(45deg, rgba(255,98,254,0.08) 0%,
							rgba(54,54,54,0.81) 44%,
							rgba(54,54,54,1) 67%);
  background-color: $brand-secondary;

  display: flex;
  flex-direction: column;

  margin-left: 0;

  padding: map-get($global, distance-from-top)
					 map-get($config, padding)
           52px
					 map-get($config, padding);
  position: fixed;
	opacity: 1;
	transform: translate3d(0,0,0);
	transform-origin: left top;
  transition: map-get($config, transition);
	will-change: transform;

	min-height: 100vh;
  -webkit-overflow-scrolling: touch;
	width: 100%;

	z-index: map-get($config, z-index);

  @media(min-width: map-get($breakpoints, sm)) {
    max-width: map-get($config, desktop-width);
  }

  &--hide {
		transform: translate3d(-300px, 0, 0);
    transition: map-get($config, transition);
    border-right: 3px solid $brand-tertiary;

    .search-filters {
      transform: translate3d(-300px, -200px, 0);
      transition: transform 0.4s cubic-bezier(.75,-0.5,0,1.75);
    }
  }

  &\@toggle-btn {
    animation: pulse 1s infinite;
    background: $brand-secondary;
    border: 1px solid $brand-tertiary;
    border-radius: 50%;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.4);
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    height: 24px;
    width: 24px;

    position: absolute;
    right: -12px;
    top: 50%;
    transform: translateY(-50%);

    opacity: 1;
    visibility: visible;

    transition: ease-in all 0.3s;

    &:hover,
    &:active {
      animation: none;
      border: 1px solid darken($brand-tertiary, 15%);
      .sidebar\@toggle-btn__icon {
        color: darken($brand-tertiary, 15%);
      }
    }

    &__icon {
      color: $brand-primary;
    }
    &--hide {
      transition: ease-in all 0.3s;
      opacity: 0;
      visibility: hidden;
    }
  }

  &\@hide-btn {
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;
    color: $brand-primary;
    font-size: 12px;
    cursor: pointer;

    position: absolute;
    top: map-get($global, distance-from-top);
    right: 12px;

    transition: ease all 0.3s;

    height: 22px;
    width: 22px;

    &:hover {
      animation: pulse infinite 1s;
    }
  }
}
