.nav {
	// Local config
	$config: (
		background: $brand-secondary,
		box-shadow: 1px -2px 10px 0 rgba(154, 133, 154, 0.5),
		desktop-width: 320px
	);

	background: map-get($config, background);
  box-shadow: map-get($config, box-shadow);
	display: flex;
	align-items: center;

	justify-content: center;

	padding: 8px $spacing-factor * 4;

	position: fixed;
	top: 0;
	left: 0;
	right: 0;

	z-index: map-get($z-index, header);

	@media(min-width: 480px) {
		justify-content: flex-start;
	}
	&__logo-col {

		@media(min-width: 480px) {
	    width: map-fetch($config, desktop-width);
	  }
	}

	&__links-col {
		flex: 1 auto;
		text-align: right;
	}
}
