*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

// System fonts -- taken from LinkinIn because why not?
body {
	background: $brand-secondary;
  min-height: 100vh;
	font-family: Source Sans Pro,Helvetica,Arial,sans-serif,Hiragino Kaku Gothic Pro,Meiryo,Hiragino Sans GB W3,Noto Naskh Arabic,Droid Arabic Naskh,Geeza Pro,Simplified Arabic,Noto Sans Thai,Thonburi,Dokchampa,Droid Sans Thai,Droid Sans Fallback,-apple-system,'.SFNSDisplay-Regular',Heiti SC,Microsoft Yahei,Segoe UI;
}
