.view\@ {
  &homepage {
    &__hero {
      color: #fff;
    }
    &__hero-header {
      padding: 24px;
      text-align: right;
    }
    &__title {
      margin: 24px 0;
    }
    &__catch {
      padding-bottom: 36px;
    }
  }
}
